<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <connectionStrings>
      <add name ="DBCS" 
           connectionString="Data Source=LAPTOP132511\SQLEXPRESS;Initial Catalog=MyNeutralNews;Integrated Security=True;Encrypt=False;Trusted_Connection=Yes;" 
           providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>