<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <connectionStrings>
    <add name ="DBCS" providerName="System.Data.SqlClient" connectionString="Data Source=DESKTOP-HDHL31A\SQLEXPRESS;Initial Catalog=MyNeutralNews;Integrated Security=True;Connect Timeout=30;Encrypt=False;TrustServerCertificate=False;ApplicationIntent=Read;MultiSubnetFailover=False;" />
  </connectionStrings>
</configuration>