@page
@model ContactModel
@{
    ViewData["Title"] = "Contact";
}
<h2>@ViewData["Title"]</h2>
<h3>@Model.Message</h3>

<form>

    <div class="form-group">
        <label for="InputEmail1">Enter your Email address</label>
        <input type="email" class="form-control" id="InputEmail" aria-describedby="emailHelp" placeholder="Enter email">
        <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
    </div>
    <br />
    <br />

    <div class="form-group">
        <label for="emailText">Ask questions or address concerns here</label>
        <textarea class="form-control" id="exampleFormControlTextarea1" rows="5"></textarea>
    </div>

    <br />
    <br />

    <button type="submit" id="SubmitButton" class="btn btn-primary">Submit</button>

    <div class="form-group">
        <h3>Do you want to check the political leaning of a link/article of your own?</h3>
        <label for="uploadText">
            Click the button to be redirected to where you can upload your own article link.
            We will compare your link to our database using our algorithm to check what kind of political leaning it has.
        </label>
    </div>
    <input id="btnUploadView" type="button" onClick="location.href = 'Upload'" value="Upload A Link" class="btn btn-primary"/>

</form>
<script>
    //button click event
    document.getElementById("SubmitButton").onclick = function () { validateFunction() };
    function validateFunction() {
        // here are my variables
        var Email = document.getElementById("InputEmail").value;
        var emailText = document.getElementById("SubmittedConcerns").value;
        var iChars = "~`!#$%^&*+=-[]\\\';,/{}|\":<>?";
        //check for nulls/empty inputs
        if (Email == null || Email == "") {
            window.alert("Please enter a valid email");
            console.log("Please enter a valid email");
        }
        if (emailText == null || emailText == "") {
            window.alert("Please type a message before submitting");
            console.log("Please type a message before submitting" + validInput);
        }
    };
</script>

