@page
@model UploadModel
@{
    ViewData["Title"] = "Upload a Link";
    ViewData["LinkMessage"] = "Insert a valid link to an article/website you would like to know the political leaning of. (Make sure you include 'https://')";
}
<h2>@ViewData["Title"]</h2>
<h3>@ViewData["LinkMessage"]</h3>

<form method="post">
    <div class="textBox">
        <input type="url" data-val="true" data-val-url="The Website field is not a valid fully-qualified http, https, or ftp URL."
               id="input_URL" name="inputURL" value="" />
        <br /> <br />
        <button id="submit" type="submit" value="Submit" class="btn btn-primary" runat="server">Submit</button>
        <br />
    </div>
    <br />
    <h3 class="display-4" id="message">@Model.Message</h3>
</form>