@page
@model NeutralNews.Pages.WomensSocialIssuesModel
@{
    ViewData["Title"] = "Women's Rights Social Issues";
}
<asp:HiddenField ID="categoryChosen" runat="server" />
@* --------------------------------------------------------------------------------------- *@
@* Page specific CSS *@
@* --------------------------------------------------------------------------------------- *@
<style>
    /* Style the active class, and buttons on mouse-over */
    .active, .btn:hover {
        background-color: #666;
        color: white;
    }
    /* Change colors based on political bias score */
    #slightLeft {
        background-color: #6ca1eb;
    }

    #FarLeft {
        background-color: #061f80;
    }

    #Neutral {
        background-color: #cad0d9;
    }

    #FarRight {
        background-color: #731815;
    }

    #slightRight {
        background-color: #ab6161;
    }
</style>
<div id="fb-root"></div>
<script async defer crossorigin="anonymous" src="https://connect.facebook.net/en_US/sdk.js#xfbml=1&version=v10.0" nonce="ZLTC1Oi3"></script>
@* --------------------------------------------------------------------------------------- *@
@* Nav bar stuff *@
@* --------------------------------------------------------------------------------------- *@
<div class="row" id="categorychoices">
</div>
@*Pretty navbar for flipping through categories*@
<div class="row">
    <h1 id="categoryChosen"></h1>
    @*This will be populated later using database*@
    <nav class="navbar navbar-inverse">
        <div class="container-fluid">
            <div class="navbar-header">
                <a class="navbar-brand" href="#">Categories</a>
            </div>
            <ul class="nav navbar-nav" id="navCategories">
                <li><a asp-page="/BLMSocialIssues">BLM</a></li>
                <li><a asp-page="/LGBTQSocialIssues">LGBTQ+</a></li>
                <li><a asp-page="/WomensSocialIssues">Women's Rights</a></li>
                <li><a asp-page="/ClimateSocialIssues">Climate Change</a></li>
                <li><a asp-page="/HealthSocialIssues">Healthcare</a></li>
                <li><a asp-page="/RefugeeSocialIssues">Refugee Crisis</a></li>
                <li><a asp-page="/HumanSocialIssues">Human Trafficking</a></li>
            </ul>
        </div>
    </nav>
    @* --------------------------------------------------------------------------------------- *@
    @* This is the where the functionality is *@
    @* --------------------------------------------------------------------------------------- *@
    <div>
        <h1>Articles Found</h1>
        Below you see all the Article Websites registered in our Database:
        <table class="table">
            <thead>
                <tr>
                    <th></th>
                    <th>Reference Name</th>
                    <th>Reference URL</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var WomensSocicalIssuesArticle in Model.WomensSocialIssuesArticles)
                {
                    <div class="article-container">
                        <div class="article-title">
                            <h2> @WomensSocicalIssuesArticle.SourceName</h2>
                        </div>

                        <div class="article-bias" id="@WomensSocicalIssuesArticle.BiasLeaning"></div>
                        <embed type="text/html" class="embedContent" src="@WomensSocicalIssuesArticle.SourceURL" width="1140" height="400">
                        <div class="fb-like" data-href="https://developers.facebook.com/docs/plugins/" data-width="" data-layout="standard" data-action="like" data-size="small" data-share="true"></div>
                        <br />
                        <a class="twitter-share-button"
                           href="https://twitter.com/intent/tweet?text=Hello%20world"
                           data-size="large">
                            Tweet
                        </a>
                        <br>
                        <br>
                        <hr>
                    </div>

                }
            </tbody>
        </table>
    </div>
    @* --------------------------------------------------------------------------------------- *@
    @* Page specific Javascript *@
    @* --------------------------------------------------------------------------------------- *@
    <script>
        $(".nav li").on("click", function () {
            $(".nav li").removeClass("active");
            $(this).addClass("active");

        });

    </script>
